*{
	margin: 0;padding: 0;font-size: .26rem;
}
html,body,.wrapper{width: 100%;height: 100%;}
.wrapper{
	background: #F3F3F3  ;
}
.header{
	display: flex;
	align-items: center;
	justify-content: center;
	height: .8rem;
	background: #D61A0A;
}
.header-aside{	
	width: 1rem;
	margin: .24rem;
}
.header-text{
	text-align: center;
	font-size: .22rem;
	color: #FFFFFF;
	flex: 1;
}
.header-aside img{
	height: .36rem;
}
.main{
	height: calc(100% - .8rem);
}
.top{
	height: .8rem;
	display: flex;
	align-items: center;
	background: #D61A0A;
	color: #FFFFFF;
}
.top-nav{
	flex: 1;
	text-align: center;
	height: .8rem;
	line-height: .8rem;
}

.main-inner{
	height: calc(100% - .8rem);
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
select{flex: 1;height: 100%;padding: 0 .2rem;box-sizing: border-box;}
.er{
	flex: 1;
	width:7rem;
	border-radius: .1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: #FFFFFF;
	margin:.1rem .2rem;
}
.er span{
	font-size: .32rem;
}
.er img{
	height: 1rem;
	margin-bottom: .2rem;
}
strong{
	color: red;
	font-size: .38rem;
}
small{
	color: #666666;
	margin: 0 .6rem;
}
.nav-top{
	height: .8rem;
	width: 100%;
	display: flex;
	border-top: 1px solid #D61A0A;
	overflow: hidden;
}
.inner-tab{
	height: .8rem;
	line-height: .8rem;
	padding: 0 .3rem;
	display: inline-block;
	border-right: 1px solid #FFFFFF;
	background: #D61A0A;
	color: #FFFFFF;
}
.top-inner{white-space: nowrap;}
.inner-main{
	height: calc(100% - .8rem);
	overflow-y: scroll;
	width: 100%;
}
.w25{
	width: 33.5%!important;
	padding: 0;
	text-align: center;
}
.top-active{
	background: #FFFFFF;
	color: #D61A0A;
}
.adver-box{
	background: #FFFFFF;
	margin: .1rem;
	padding: .2rem;
}
.btn{
	background: #D61A0A;
	color: #FFFFFF;
	height: 1rem;
	width: 6rem;
	margin: 0 auto;
	text-align: center;
	border-radius: .1rem;
	line-height: 1rem;
	font-weight: bold;
	font-size: .35rem;
}