* {
	margin: 0;
	padding: 0;
	font-size: .26rem;
}

html,
body,
.wrapper {
	width: 100%;
	height: 100%;
}

.wrapper {
	background: #F5F5F5;
}

.header {
	height: 1.8rem;
	background: linear-gradient(to right, #FF5429, #D61A0A);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.header-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-aside {
	width: 1.5rem;
	padding: .12rem;
}

.header-aside img {
	height: .36rem;
}

.header-content {
	flex: 1;
	text-align: center;
	font-size: .34rem;
	color: #FFFFFF;
	padding: .26rem 0 .44rem;
}

.header-news {
	width: 1.5rem;
	font-size: .28rem;
	color: #FFFFFF;
	padding: .12rem;
}

.header-bottom {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.header-text {
	font-size: .28rem;
	color: #FFFFFF;
}

.main-tab {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #FFFFFF;
	border-bottom: 1px solid #F5F5F5;
	padding: 0 .24rem;
}

.main-left {
	margin: .24rem;
}

.main-left img {
	max-width: 2rem;
	height: 1.4rem;
}

.main-right {
	flex: 1;
	margin: .24rem .24rem .24rem 0;
}

.main-upper {
	margin-bottom: .28rem;
}

.main-characters {
	font-size: .32rem;
	color: #333333;
}

.main-number {
	font-size: .24rem;
	color: #333333;
}

.main-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: .96rem;
	background: #FFFFFF;
	border-bottom: 1px solid #F5F5F5;
	margin-bottom: .16rem;
}

.main-news {
	font-size: .24rem;
	color: #DF3122;
	padding-left: .28rem;
	flex: 1;
}

.main-word {
	font-size: .24rem;
	color: #FFFFFF;
	padding: .16rem .24rem;
	border-radius: 1rem;
	background: #D61A0A;
	margin-right: .24rem;
}.mui-card .mui-control-content {
				padding: 10px;
			}
			
			.mui-scroll-wrapper {
				position: absolute;
				z-index: 2;
				top: 0;
				bottom: 0;
				left: 0;
				overflow: scroll;
				width: 100%;
			}
			
			.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
				color: #fff;
				font-size: 0.3rem;
				border-bottom: 0;
			}
			
			.mui-segmented-control.mui-segmented-control-inverted .mui-control-item {
				color: #fff;
				font-size: 0.28rem;
			}
			
			.mui-segmented-control .mui-control-item {
				line-height: 0.6rem;
			}
			
			.main {
				height: 100%;
			}
			.mui-control-item.mui-active{background: #FFFFFF!important;color: #FF5429!important;height: .65rem;}
